/* Layout */
html, body {
    margin: 0px;
    padding: 0px;
}

#headerRight {
    position: absolute;
    top: 10px;
    right: 10px;
}

#headerRight img {
    margin-right: 10px;
}

nav, nav ul {
    margin: 0px;
    padding: 0px;
    width: 200px;
}

nav {
    float: left;
    height: 500px;
    padding: 10px;
}

nav ul li {
    font: bold 16pt Consolas;
}

nav ul li ul li {
    font-size: 12pt;
    padding-left: 20px;
    width: 180px;
}

#content {
    padding-left: 230px;
}

/* Look and Feel */

#header {
    background-color: #ccc;
    border-bottom: 2px solid #555;
}

nav {
    background-color: #ccc;
    border-right: 2px solid #555;
}